.App {
  text-align: center;
}
body{
  background-image: url('./Components/Nav/plantbkg.jpeg');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #003107;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav{
  padding: 10px;
}
.last{
  float: right;
}
.link{
  color:rgb(19, 129, 19);
  text-decoration: none;
}
#link2:hover{
  color:whitesmoke;
  text-decoration: none;
}
.link:hover{
  color:whitesmoke;
  text-decoration: none;
}
